.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ============================ */
/* ===== MY CUSTOM STYLES ===== */
/* ============================ */

.text-centered {
  text-align: center;
}

.fine-print {
  font-size: 0.75rem;
  list-style: none;
}

/* ===== PAGE/COMPONENT-SPECIFIC SECTIONS ===== */

.loginBanner-section {
  margin: 1rem;
}

.homepage-section {
  margin: 2rem 1rem;
}

.footer {
  text-align: center;
  margin: 1rem;
  background-color: lightyellow;
}

.newShift-component {
  background-color: pink;
}


.navbar {
  background-color: pink;
}



/* ===== TABLE STYLES ===== */
.peopleTable {
  display:grid;
  grid-template-columns: 3fr 1fr 1.5fr 1fr;
}

.section-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.section-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.accordion-toggle_button {
  width: 100%;
}

.card-shift, .card-client, .card-employee {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.employee-dash-unavails-table {
  margin: 1rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* ===== BACKGROUND COLORS ===== */
.blue-bg {
  background-color: lightblue;
}

.gray-bg {
  background-color: grey;
}

.red-bg {
  background-color: red;
}

/* ===== IMAGE SIZES ===== */
.img-90, .homepage-logo {
  width: 90%;
  height: 90%;
}

.img-40 {
  width: 40%;
  height: 40%;
}

.img-5 {
  width: 5%;
  height: 5%;
}

/* ===== BUTTONS ===== */

.btn-google {
  width: 90%;
  margin-top: 1rem;
}

.dashboard-buttons_container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.dashboard-buttons {
  color: white;
  font-weight: bold;
}

/* IDEA from https://stackoverflow.com/questions/33309198/non-clickable-object-that-looks-like-button-in-bootstrap-3/33309555 */
/* I had to do a fake button b/c a button within a button will get warnings */
.fake-btn {
  
  background-color: #28a745;
  border-color: 28a745;
  border: 1px solid lightgrey;
  cursor: default;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.fake-btn:active {
  -moz-box-shadow:    inset 0 0 0px white;
  -webkit-box-shadow: inset 0 0 0px white;
  box-shadow:         inset 0 0 0px white;
}
